@model DSHOrder.Web.Models.JobEditModel
@{
    ViewBag.Title = "编辑任务";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script language="javascript">
    $(function () {

        enableEndTimeControl();
        $("#IsNeedEndTime").change(enableEndTimeControl);
    });

    function enableEndTimeControl() {
        var endTimeCtrl = $("#EndTime"); //.parent().parent();

        if ($("#IsNeedEndTime").attr("checked") == true) {
            endTimeCtrl.show();
        }
        else {
            endTimeCtrl.hide();
        }
    }
</script>*@
@using (Html.BeginForm())
{
     @Html.ValidationSummary(true)
     <div>
            <table style="width:80%;margin:0 10% 0 10%">
                <tr>
                <th>
                @Html.LabelFor(m => m.JobName)
                </th>
                <td>
                @Html.EditorFor(m => m.JobName)
                @Html.ValidationMessageFor(model => model.JobName)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.JobGroup)
                </th>
                <td>
                @Html.EditorFor(m => m.JobGroup)
                @Html.ValidationMessageFor(model => model.JobGroup)
                </td>
                </tr>

                 <tr>
                <th>
                @Html.LabelFor(m => m.JobAssembly)
                </th>
                <td>
                @Html.EditorFor(m => m.JobAssembly)                
                @Html.ValidationMessageFor(model => model.JobAssembly)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.JobClassName)
                </th>
                <td>
                @Html.EditorFor(m => m.JobClassName)
                @Html.ValidationMessageFor(model => model.JobClassName)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.JobDescription)
                </th>
                <td>
                @Html.EditorFor(m => m.JobDescription)
                @Html.ValidationMessageFor(model => model.JobDescription)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.TriggerName)
                </th>
                <td>
                @Html.EditorFor(m => m.TriggerName)
                @Html.ValidationMessageFor(model => model.TriggerName)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.TriggerGroup)
                </th>
                <td>
                @Html.EditorFor(m => m.TriggerGroup)
                @Html.ValidationMessageFor(model => model.TriggerGroup)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.StartTime)
                </th>
                <td>
                @Html.EditorFor(m => m.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
                </td>
                </tr>

                <tr>
                <th>
                @Html.LabelFor(m => m.EndTime)
                </th>
                <td>
                    @Html.EditorFor(m => m.EndTime)
                    @Html.EditorFor(m => m.IsNeedEndTime)
                    @Html.LabelFor(m => m.IsNeedEndTime)                    
                    @Html.ValidationMessageFor(model => model.EndTime)     
                </td>
                </tr>
                <tr>
                <th>
                @Html.LabelFor(m => m.CronExpression)
                </th>
                <td>
                @Html.EditorFor(m => m.CronExpression)
                @Html.ValidationMessageFor(model => model.CronExpression)
                </td>
                </tr>
                <tr>
                <td colspan="4" style="text-align">
                    <input type="submit" id="btnSave" name="btnSave" value="保存" />    
                </td>
                </tr>
            </table>
        </div>
}
