@model DSHOrder.Web.Models.CustomerDetailModel
@using DSHOrder.Entity;
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "查看商家详情";
}

@Html.DisplayFor(model=>model.CustomerInfo)
   <br /><br />
        <div style=" background-color:#DFF4F5; height:30px; vertical-align:middle">
        <label id="lblPlatForm" style="vertical-align:middle">
            <label  style="vertical-align:middle; font-weight:bold;">&nbsp;&nbsp;合作历史</label>
        </label>
        </div>
   <table  class="tbList" style="border: solid 1px  #BDBDBD;">
   <tr><th>团购名称</th>
   <th>合作平台</th>
   <th>上线日期</th>
   <th>下线日期</th>
    <th>团购地址(预览)</th>
    <th>经手人</th>
    <th>进价</th>
    <th>团购价</th>
   <th>销售额</th>
   <th>广告费</th>
   <th>毛收入</th>
   <th>计算公式</th>
   <th>利润</th>
   <th>平均评分</th>
   <th>备注</th>
  
   </tr>
   @foreach (CooperationRecord item in Model.CooperationHistory)
   {
       <tr>
       <td>@item.GroupByGroupName</td>
       <td>@item.PortalName</td>
       <td>@String.Format("{0:d}", item.StartDay)</td>
       <td>@String.Format("{0:d}", item.EndDay)</td>
       <td><a href="@item.Url" target="_blank">@item.Url</a></td>
       <td>&nbsp;</td>
       <td>@string.Format("{0:N}",item.OriginalPrice)</td>
       <td>@string.Format("{0:N}",item.SellPrice)</td>
       <td>@string.Format("{0:N0}",item.ActualSellNum)</td>
       <td>@item.OtherCharge</td>
       <td>&nbsp;</td>
       <td>查看公式</td>
       <td>@string.Format("{0:N}",item.ActualTotalProfit)</td>
       <td>@item.RankValue</td>
       <td></td>
       </tr>
   }
   </table>
   @Html.Pager(Model.CooperationHistory, new PagerOptions { PageIndexParameterName = "pageIndex" }, new { @class = "pagination" })
<p style="text-align:center">
   <input type="submit" id="btnBack" value="返回" class="button" onclick="window.location='@Url.Action("Index")'" />
</p>

