@model DSHOrder.Web.Models.CustomerSearchModel
@{
    ViewBag.Title = "商家管理";
}
@using Webdiyer.WebControls.Mvc;
<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" type="text/css" />
 <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#cbxAll").click(function () {
            if (!$(this).attr("checked")) {
                $(":checkbox[id^='cbxInValid']").attr("checked", false);
                $("#hdSelectCustomer").val("");
            }
            else {
                var strLength = 'cbxInValid'.length;
                var selectedIds;
                $(":checkbox[id^='cbxInValid']").each(function () {
                    selectedIds += $(this).attr("id").substr(strLength) + ",";
                    $(this).attr("checked", true);
                });
                $("#hdSelectCustomer").val(selectedIds);
            }
        });
    });

    //删除选中信息
    function DeleteCustomerInfos() {
        if (!window.confirm("确定要删除选择的数据项吗?")) {
            return;
        }

        var selectedIds = [];
        var strLength = 'cbxInValid'.length;
        $(":checked[id^='cbxInValid']").each(function () {
            selectedIds.push($(this).attr("id").substr(strLength));
        });

        var checkedItems = selectedIds.join(',');
//        var checkedItems = $("#hdSelectCustomer").val();
        if (checkedItems == "") {
            alert("请选择要删除的信息!");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Customer/Delete',
            dataType: 'text',
            data: { selectedIds: checkedItems },
            cache: false,
            success: DeleteCustomerInfosCallBack
        });
    }
    //删除选中信息回调函数
    function DeleteCustomerInfosCallBack(r) {
        if (r >0 ) {
            alert('删除成功');
        } else {
            alert('删除失败');
        }
        window.location.reload();
    }

    function CC(obj) {
        obj.href = "www.baidu.com";
    }
</script>
@using(Html.BeginForm("Index","Customer",new{id=1},FormMethod.Get))
{

<table width="99%" border="1"  class="tbList">
    <tr>
        <td width="90px">商家公司全称：</td>
        <td align="left" width="30%">
      
            @Html.TextBoxFor(model => model.CustomerNameSearch)
        </td>
        <td width="60px">所在城市：</td>
        <td align="left" >
        @Html.DropDownListFor(model=>model.CityIDSearch,ViewData["citySelectList"] as IEnumerable<SelectListItem>)</td>
    </tr>
    <tr>
        <td>是否认证</td>
        <td>
            @Html.DropDownListFor(model=>model.IsCertifiedSearch,ViewData["certifiedList"] as IEnumerable<SelectListItem>)
        </td>
        <td colspan="2" align="right">
        @Html.HiddenFor(model=>model.ViewType)
        <input type="submit" id="btnSearch" value="查询" class="button"  />
        <input type="button" id="btnCreate" value="创建" class="button" onclick="window.location='@Url.Action("Create", new { id = -1, name = 'C' })'" />
<input type="button" id="btnDel" value="删除"  class="button" onclick="DeleteCustomerInfos();" />
        </td>
    </tr>
</table>
}


  <p style="text-align: right">

</p>
<input id="hdSelectCustomer" type="hidden" />
    <div>

        <div class="content-box-header">
            <ul id="tabDealType" class="content-box-tabs" style="float: left">
                @if (Model.ViewType == 0)
                { 
                    <li><a href="@Url.Action("Index", "Customer", new { @id = 1, @customerNameSearch = Request["CustomerNameSearch"], @cityIDSearch = Request["CityIDSearch"], @isCertifiedSearch = Request["IsCertifiedSearch"], @ViewType = 0 })"  class="default-tab">
                        商家列表</a></li>
                    <li><a href="@Url.Action("Index", "Customer", new { @id = 1, @customerNameSearch = Request["CustomerNameSearch"], @cityIDSearch = Request["CityIDSearch"], @isCertifiedSearch = Request["IsCertifiedSearch"], @ViewType = 1 })">
                        黑名单列表</a></li>        
                }
                else if (Model.ViewType == 1)
                {
                    <li><a href="@Url.Action("Index", "Customer", new { @id = 1, @customerNameSearch = Request["CustomerNameSearch"], @cityIDSearch = Request["CityIDSearch"], @isCertifiedSearch = Request["IsCertifiedSearch"], @ViewType = 0 })">
                        商家列表</a></li>
                    <li><a href="@Url.Action("Index", "Customer", new { @id = 1, @customerNameSearch = Request["CustomerNameSearch"], @cityIDSearch = Request["CityIDSearch"], @isCertifiedSearch = Request["IsCertifiedSearch"], @ViewType = 1 })"  class="default-tab">
                        黑名单列表</a></li>     
                }
            </ul>
            <input type="submit" id="btnTabs" style="display:none"/>
        </div>
        <div class="tab-content default-tab" id="tab">
<table class="tbList">
    <tr>
        @if (Model.ViewType == 0)
        {
        <th>
            <input type="checkbox" id="cbxAll" name="cbxAll" />
        </th>
        }
        <th>
           商家公司全称
        </th>
        <th>
            所在城市
        </th>
        <th>是否认证</th>
        <th>
            商家联系人
        </th>
        <th>
            商家联系电话
        </th>
      
            <th>
                商家平均评分
            </th>
       
        <th>
        </th>
    </tr>
    @foreach (var item in Model.CustomerList)
    {
        string cbxId = "cbxInValid" + item.CustomerID;
        <tr>
         @if (Model.ViewType == 0)
         {
            <td>
                @if (!item.GroupCount.HasValue)
                {
                 <input type="checkbox" id="@cbxId" name="@cbxId" />
                }
            </td>
         }
            <td>
                @item.CustomerName
            </td>
            <td>
                @item.CityName
            </td>
            <td>
            @((item.IsCertified.HasValue&&item.IsCertified.Value==true)?"已认证":"未认证")
            </td>
            <td>
                @item.ContactName
            </td>
            <td>
                @item.ContactPhoneNo
            </td>
            <td>
                    @item.AvgRankValue.ToString("N2")
            </td>
            <td align="right">
             @if (Model.ViewType == 0)
             {
                 <input type="button" id="btnEdit" value="修改" class="button" onclick="window.location='@Url.Action("Create", new { id = item.CustomerID })'" />
             }
                  <input type="button" id="btnDetails" value="查看" class="button" onclick="window.location='@Url.Action("Details", new { id = item.CustomerID })'" />
            </td>
        </tr>
    }
</table> 
@Html.Pager(Model.CustomerList, new PagerOptions { PageIndexParameterName = "id" }, new { @class = "pagination" })

 </div>

   </div>
