@model DSHOrder.Web.Models.OfflineReturnDetailModel
@{
    ViewBag.Title = "订单处理";
}
<link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.uploadify.v2.1.0.min.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/autoNumeric.js")"></script>
 <style type="text/css">
        .textstyle1
        {
            color: Red;
            font-weight: bold;
        }
        .textstyle2
        {
            color: Green;
            font-weight: bold;
        }
    </style>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#OfflineDealTime").click(function () {
            WdatePicker();
        });
        $(":text[id$='RefundFee']").autoNumeric({ aSep: '', pSign: 's' });
        $(":text[id$='Payment']").autoNumeric({ aSep: '', pSign: 's' });


        $('#fileCertificate').uploadify({
            'uploader': '/Scripts/uploadify.swf',
            'script': '/Ashx/FileHandler.ashx',
            'folder': '/UploadFile/OfflineReturnImage',
            'cancelImg': '/Content/Images/cancel.png',
            'fileExt': '*.jpg;*.jpeg;*.gif;*.png;',
            'fileDesc': '*.jpg;*.jpeg;*.gif;*.png;',
            'sizeLimit': 1024 * 1024 * 4, //4M
            'queueID': 'fileQueue',
            'multi': false,
            'onComplete': fun
        });

        $('#hfImg').bind("click", function () {
            window.showModalDialog("@Model", "aa", "dialogWidth=700px;dialogHeight=600px");
            return false;
        });

        if ($("#hfImg").attr("href") == "") {
            $("#hfImg").hide();
        }
        else {
            $("#hfImg").show();
            var imgCtrl = '<img alt="" id="imgUpload" src="' + $("#hfImg").attr("href") + '" style="border:0px; height:100px; width:100px;" />';
            $('#hfImg').append(imgCtrl);
        }
    });

    function fun(event, queueID, fileObj, response, data) {
        if (response != "") {
            $('#resultUpload').removeClass();
            $('#resultUpload').addClass("textstyle2");
            $('#resultUpload').html("成功上传");

            $('#fileName').html(response);

            var value = "/UploadFile/OfflineReturnImage/" + response;

            $('#hfImg').attr("href", "../UploadFile/OfflineReturnImage/" + response).show();x
            $('#hfImg').unbind("click").bind("click",function(){
                window.showModalDialog(value,"aa","dialogWidth=700px;dialogHeight=600px"); 
                return false;
            });
            $('#CredentialPath').val(value); 
            
            if($('#imgUpload').length>0)
            {
                $('#imgUpload').attr("src", value);
            } 
            else
            {
                var imgCtrl = '<img alt="" id="imgUpload" src="' + value + '" style="border:0px; height:100px; width:100px;" />';
                 $('#hfImg').append(imgCtrl);
            }
        }
        else {
            $('#result').removeClass();
            $('#result').addClass("textstyle2");
            $('#result').html("文件上传出错！");
            $('#fileName').html("");
            $('#hfImg').text("")[0].style.display = "none";
            $('#CredentialPath').val("");
        }
    }

    //如果点击‘导入文件’时选择文件为空，则提示
    function checkImport(objId) {
        if ($.trim($('#fileQueue').html()) == "") {
            alert('请先选择要导入的文件！');
            return false;
        }
        return true;
    }

  
</script>
@using (Html.BeginForm())
{
    <div>
        <table class="tbList" style="width: 100%; text-align: left; margin: 10px 0 10px 0;">
            <thead>
                <tr>
                    <th colspan="4">
                        订单信息
                    </th>
                </tr>
            </thead>
            <tr>
                <th>@Html.LabelFor(m => m.GroupByName)
                </th>
                <td colspan="3">@Html.DisplayFor(m => m.GroupByName)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.Oid)
                </th>
                <td>@Html.DisplayFor(m => m.Oid)
                </td>
                <th>@Html.LabelFor(m => m.TotalFee)
                </th>
                <td>@Html.DisplayFor(m => m.TotalFee)
                </td>
            </tr>
            <tr>
                <th style="font-weight: bold">@Html.LabelFor(m => m.OrderStatus)
                </th>
                <td style="font-weight: bold">@Html.DisplayFor(m => m.OrderStatus)
                </td>
                <th>@Html.LabelFor(m => m.TradeRate)
                </th>
                <td>@Html.DisplayFor(m => m.TradeRate)
                </td>
            </tr>
        </table>
        <table class="tbList" style="width: 100%; text-align: left; margin: 10px 0 10px 0">
            <thead>
                <tr>
                    <th colspan="4">
                        买家信息
                    </th>
                </tr>
            </thead>
            <tr>
                <th>@Html.LabelFor(m => m.BuyerNick)
                </th>
                <td>@Html.DisplayFor(m => m.BuyerNick)
                </td>
                <th>@Html.LabelFor(m => m.AlipayNo)
                </th>
                <td>@Html.DisplayFor(m => m.AlipayNo)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.Address)
                </th>
                <td colspan="3">@Html.DisplayFor(m => m.Address)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.BuyerMessage)
                </th>
                <td colspan="3">@Html.DisplayFor(m => m.BuyerMessage)
                </td>
            </tr>
        </table>
        <table class="tbList" style="width: 100%; text-align: left; margin: 10px 0 10px 0">
            <thead>
                <tr>
                    <th colspan="4">
                        退款信息
                    </th>
                </tr>
            </thead>
            <tr>
                <th>@Html.LabelFor(m => m.RefundID)
                </th>
                <td>@Html.DisplayFor(m => m.RefundID)
                </td>
                <th style="font-weight: bold">@Html.LabelFor(m => m.RefundStatus)
                </th>
                <td style="font-weight: bold">@Html.DisplayFor(m => m.RefundStatus)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.HasGoodReturn)
                </th>
                <td>@Html.DisplayFor(m => m.HasGoodReturn)
                </td>
                <th>@Html.LabelFor(m => m.GoodReturnTime)
                </th>
                <td>@Html.DisplayFor(m => m.GoodReturnTime)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.Reason)
                </th>
                <td>@Html.DisplayFor(m => m.Reason)
                </td>
                <th>@Html.LabelFor(m => m.Desc)
                </th>
                <td>@Html.DisplayFor(m => m.Desc)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.ApplyRefundTime)
                </th>
                <td>@Html.DisplayFor(m => m.ApplyRefundTime)
                </td>
                <th>@Html.LabelFor(m => m.UpdateRefundTime)
                </th>
                <td>@Html.DisplayFor(m => m.UpdateRefundTime)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.RefundFee)
                </th>
                <td>@Html.DisplayFor(m => m.RefundFee)
                </td>
                <th>@Html.LabelFor(m => m.Payment)
                </th>
                <td>@Html.DisplayFor(m => m.Payment)
                </td>
            </tr>
        </table>
        <table class="tbList" style="width: 100%; text-align: left; margin: 10px 0 10px 0">
            <thead>
                <tr>
                    <th colspan="4">
                        处理信息
                    </th>
                </tr>
            </thead>
            <tr>
                <th>@Html.LabelFor(m => m.IssueType)
                </th>
                <td>@Html.DisplayFor(m => m.IssueType)
                </td>
                <th>@Html.LabelFor(m => m.DealTime)
                </th>
                <td>@Html.DisplayFor(m => m.DealTime)
                </td>
            </tr>
             <tr>
                <th>@Html.LabelFor(m => m.Remark)
                </th>
                <td>@Html.DisplayFor(m => m.Remark)
                </td>
                <th>@Html.LabelFor(m => m.OfflineRefundStatus)
                </th>
                <td>@Html.EditorFor(m => m.OfflineRefundStatus)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.OfflineRefundFee)
                </th>
                <td>@Html.EditorFor(m => m.OfflineRefundFee)
                </td>
                <th>@Html.LabelFor(m => m.OfflineDealTime)
                </th>
                <td>@Html.EditorFor(m => m.OfflineDealTime)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.CredentialPath)
                </th>
                <td>
                      <table width="100%"><tr><td style="border-width:0px; width:380px;">
                        <input id="fileCertificate" name="file" type="file" />
                        </td><td valign="top" style="border-width:0px"> <a href="javascript:if(checkImport('fileCertificate')){$('#fileCertificate').uploadifyUpload();}" class="button" style="width:60px; height:20px; font-size:large; text-align:center">上传</a>
                        </td></tr>
                        <tr><td nowrap="nowrap" colspan="2" style="border-width:0px">
                            <a id="hfImg" target="_blank" style="text-decoration:underline" href="@Model.CredentialPath">查看</a><span id="result"></span>
                            @Html.HiddenFor(m=>m.CredentialPath)
                        </td></tr></table>
                        <div id="fileQueue"></div>
                </td>
            </tr>
        </table>
    </div>
    <div style="float: right">
        <input name="Save:@Model.OrderDetailID" id="Save:@Model.OrderDetailID" type="submit" value="保存" class="button" /> 
        <input type="submit" id="Back:@Model.OrderDetailID" value="返回" class="button" name="Back:@Model.OrderDetailID"  />
    </div>
}
