@model DSHOrder.Web.Models.ApplyPaymentModel
@using DSHOrder.Entity;
@using DSHOrder.Common;
@{
    ViewBag.Title = "申请付款";
}
<script language="javascript" type="text/javascript">
    function showRecord(obj) {
        window.showModalDialog("/FinancialPayment/PaymentHistory?groupByItemID=" + obj + "&radom=" + Math.random(), "aa", "dialogWidth=1000px;dialogHeight=600px"); 
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PaymentID)
    <fieldset>
        @Html.Partial("_GroupBaseInfoForPayment", Model.GroupBaseInfo)
        <br />
       @* @Html.Partial("_GroupByItemForShelf", Model.GroupItemInfo)*@
       @Html.DisplayFor(model=>model.GroupItemInfo)
        <br />
        <br />
        @if (Model.Payment != null)
        {
        <div id="divPayment" style="background-color: #DFF4F5; height: 30px; vertical-align: middle">
            <label style="vertical-align: middle">
                <label style="vertical-align: middle">
                    付款申请信息</label>
            </label>
        </div>
        <table id="tbPayment" class="tbList" width="100%" style="border: solid 1px  #BDBDBD;">
            <tr>
                <td style="width: 300px">
                    第 @Model.Payment.PaymentType 次计划打款日：@Model.Payment.PaymentDeadline.Value.ToString("yyyy-MM-dd")
                </td>
                <td style="width: 200px">
                    计划打款比例：@(Model.Payment.PaymentProportion * 100 + "%")
                </td>
                <td>
                    计划打款额度：@Model.Payment.PaymentPrice 元
                </td>
            </tr>
        </table>
        }
        <br />
        <p style="text-align: center">
            <input type="button" value="查看历史记录" id="btnViewRecords" class="button" onclick="return showRecord(@Model.GroupByItemID)" />
             @if (Model.Payment != null)
             {
            <input type="submit" value="提交" class="button" />
             }
            <input type="button" value="取消" class="button" onclick="javascript:window.history.go(-1);" />
        </p>
    </fieldset>
}
