@model DSHOrder.Web.Models.ApprovalPaymentModel
@using DSHOrder.Entity;
@{
    ViewBag.Title = "付款审批";
}
<script language="javascript" type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/autoNumeric.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $(":input[id^='PaymentDeadline']").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd' });
        });
        $(":text[id^='PaymentProportion']").autoNumeric({ aSign: ' %', pSign: 's', vMax: '100.00' });
        $(":text[id^='PaymentPrice']").autoNumeric({ aSep: '', pSign: 's' });
    });

    function ValidateInput() {
        if ($(":input[id^='PaymentDate']").val() == "") {
            alert("请输入实际打款日");
            return false;
        }
        if ($(":text[id^='PaymentProportion']").val() == "" || $(":text[id^='PaymentProportion']").val().replace(/(^\s*)|(\s*$)/g, "") == "%") {
            alert("请输入实际打款比例");
            return false;
        }
        if ($(":text[id^='PaymentPrice']").val() == "") {
            alert("请输入实际打款额度");
            return false;
        }
        if ($("#Comment").val() == "") {
            alert("请输入备注.");
            return false;
        }
        return true;
    }

    function showRecord(obj) {
        window.showModalDialog("/FinancialPayment/PaymentHistory?groupByItemID=" + obj+"&radom="+Math.random(), "aa", "dialogWidth=1000px;dialogHeight=600px");
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PaymentID)
    <fieldset>
      
         @Html.Partial("_GroupBaseInfoForPayment", Model.GroupBaseInfo)
    @Html.DisplayFor(model=>model.GroupItemInfo)
     @if (Model.Payment != null)
     {
          <div style=" background-color:#DFF4F5; height:30px; vertical-align:middle"><label style="vertical-align:middle">
    <label  style="vertical-align:middle">付款审批信息</label>
    </label></div>
      <table class="tbList" width="100%"  style="border: solid 1px  #BDBDBD;">
    
           <tr><td> 第 @Model.Payment.PaymentType 次计划打款日</td><td>@Model.Payment.PaymentDeadline.Value.ToString("yyyy-MM-dd")</td>
                 <td>计划打款比例：</td><td>@(Model.Payment.PaymentProportion * 100 + "%")</td>
                <td>计划打款额度：</td><td>@string.Format("{0:N}", Model.Payment.PaymentPrice) 元</td>
             </tr>
              <tr><td> 第 @Model.Payment.PaymentType 次实际打款日</td><td>@Html.TextBox("PaymentDeadline", Model.Payment.PaymentDeadline.Value.ToString("yyyy-MM-dd"))</td>
                 <td>实际打款比例：</td><td>@Html.TextBox("PaymentProportion", Model.Payment.PaymentProportion * 100 + "%")</td>
                <td>实际打款额度：</td><td>@Html.TextBox("PaymentPrice", Model.Payment.PaymentPrice) 元</td>
             </tr>
             <tr>
             <td>审批结果</td>
            <td colspan="5"><input name="result" type="radio" value="2" checked="checked" />通过 &nbsp;&nbsp;&nbsp;
                <input name="result" type="radio" value="3" />拒绝
            </td></tr>
        <tr><td valign="top">备注：</td><td colspan="5">@Html.TextArea("Comment", new { rows = "5", cols = "70" }) <br /><p style=" color:Red">* 备注不能为空，请填写审批备注</p></td></tr>
          <tr><td>审批人：</td><td>@Model.Approver</td><td>审批日期：</td><td colspan="3">@DateTime.Today.ToString("yyyy-MM-dd") 默认为当天</td></tr>
        </table>
     }

        <p style="text-align:center">
         <input type="button" value="查看历史记录" class="button" onclick="return showRecord(@Model.GroupByItemID)" />
            @if (Model.Payment != null)
            {
            <input type="submit" value="保存" class="button" onclick="return ValidateInput();" />
            }
            <input type="button" value="取消" class="button" onclick="javascript:window.history.go(-1);" />
        </p>
    </fieldset>
}


