@model DSHOrder.Web.Models.ProcessPaymentModel
@using DSHOrder.Entity;
@{
    ViewBag.Title = "付款";
}
 <script language="javascript" type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>

<script language="javascript" type="text/javascript">

    $(function () {

        $("#PaymentDate").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' });
        });

        $(":text").each(function () {
            if (this.id == "PaymentDate" || this.id == "txtImgCertificateImg") {
            }
            else {
                $(this).attr("disabled", "true");
            }
        });
    });

    function ValidateInput() {
        if ($(':text[id^="txtImg"]').val() == "") {
            alert("请上传凭证！");
            return false;
        }
        if ($("#PaymentDate").val() == "") {
            alert("请输入付款日期！");
            return false;
        }
        if ($("#Comment").val() == "") {
            alert("请输入付款备注！");
            return false;
        }

        if ($("input:checked[name='paymentStatus']").val() == "0") {
            if (confirm("付款状态为未付，是否要提交付款信息？")) {
                return true;
            }
            else {
                return false;
            }
        }
        return true;
    }

    function showRecord(obj) {
        window.showModalDialog("/FinancialPayment/PaymentHistory?groupByItemID=" + obj + "&radom=" + Math.random(), "aa", "dialogWidth=1000px;dialogHeight=600px"); 
    }

    </script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PaymentID)
  <fieldset>
      
        @Html.Partial("_GroupBaseInfoForPayment", Model.GroupBaseInfo)
      @Html.DisplayFor(model=>model.GroupItemInfo)

        @if (Model.Payment != null)
        {    
            
          <div style=" background-color:#DFF4F5; height:30px; vertical-align:middle"><label style="vertical-align:middle">
    <label  style="vertical-align:middle">付款</label>
    </label></div>        
         <table class="tbList" width="100%"  style="border: solid 1px  #BDBDBD;">
          <tr><td> 第 @Model.Payment.PaymentType 次计划打款日</td><td>@Model.Payment.PaymentDeadline.Value.ToString("yyyy-MM-dd")</td>
                 <td>计划打款比例：</td><td>@(Model.Payment.PaymentProportion * 100 + "%")</td>
                <td>计划打款额度：</td><td>@string.Format("{0:N}", Model.Payment.PaymentPrice) 元</td>
             </tr>
              <tr><td> 第 @Model.Payment.PaymentType 次实际打款日</td><td>@Model.Payment.ActualPaymentDeadline.Value.ToString("yyyy-MM-dd")</td>
                 <td>实际打款比例：</td><td>@(Model.Payment.ActualPaymentProportion * 100 + "%")</td>
                <td>实际打款额度：</td><td>@string.Format("{0:N}", Model.Payment.ActualPaymentPrice) 元</td>
             </tr>
       <tr><td>付款状态：</td>
            <td colspan="5">
                    <input name="paymentStatus" type="radio" value="1" />已付 &nbsp;&nbsp;&nbsp;
                     <input name="paymentStatus" type="radio" value="0" checked="checked"  />未付
            </td></tr>
          
        <tr><td valign="top">上传付款凭证：</td>
            <td  colspan="5"> 
                @{
            ViewDataDictionary CertificateImgDic= new ViewDataDictionary();
            CertificateImgDic["Name"] = "CertificateImg";
            CertificateImgDic["Folder"] = "/UploadFile/FinacialImage";
                }
            @Html.Partial("UploadCtrl", "", CertificateImgDic)
            </td></tr>
             <tr>
                    <td valign="top">
                        备注：
                    </td>
                    <td colspan="5">@Html.TextArea("Comment", new { rows = "5", cols = "70" })
                        <br />
                        <p style="color: Red">
                            * 备注不能为空，请填写审批备注</p>
                    </td>
                </tr>
          <tr><td>付款人：</td><td>@Model.Payer</td><td>付款日期：</td><td colspan="3">@Html.TextBox("PaymentDate", DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")) 默认为当天</td></tr>
        </table>
        }

        <p style="text-align:center">
            <input type="button" value="查看历史记录" class="button" onclick="return showRecord(@Model.GroupByItemID)" />
             @if (Model.Payment != null)
             {
                <input type="submit" value="保存并发Email" class="button" onclick="return ValidateInput();" />
             }
            <input type="button" value="取消" class="button" onclick="javascript:window.history.go(-1);" />
        </p>
    </fieldset>   
}

                
