@model DSHOrder.Web.Models.ProcessPaymentMergerModel
@using DSHOrder.Entity;
@{
    ViewBag.Title = "合并付款";
}
<script language="javascript" type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>

<script language="javascript" type="text/javascript">

    $(function () {

        $("#PaymentDate").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' });
        });

        $(":text").each(function () {
            if (this.id == "PaymentDate" || this.id == "txtImgCertificateImg") {
            }
            else {
                $(this).attr("disabled", "true");
            }
        });
    });



    function ValidateInput() {
        if ($(':text[id^="txtImg"]').val() == "") {
            alert("请上传凭证！");
            return false;
        }
        if ($("#PaymentDate").val() == "") {
            alert("请输入付款日期！");
            return false;
        }
        if ($("#Comment").val() == "") {
            alert("请输入付款备注！");
            return false;
        }

        if ($("input:checked[name='paymentStatus']").val() == "0") {
            if (confirm("付款状态为未付，是否要提交付款信息？")) {
                return true;
            }
            else {
                return false;
            }
        }
        return true;
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PaymentIDs)
    <fieldset>
         @Html.Partial("_GroupBaseInfoForPayment", Model.GroupBaseInfo)
        @{
   int i = 0;
   int count = Model.GroupItemInfoList.Count;
   decimal totalPayment = 0;
   decimal actualTotalPayment = 0;
   for (; i < count; i++)
   {
            @Html.DisplayFor(model => model.GroupItemInfoList[i])

       Payment payment = Model.PaymentList[i];
       if (payment != null)
       {
           if (payment.PaymentPrice.HasValue)
           {
               totalPayment += payment.PaymentPrice.Value;
           }
           if (payment.ActualPaymentPrice.HasValue)
           {
               actualTotalPayment += payment.ActualPaymentPrice.Value;
           }
            
            <div style="background-color: #DFF4F5; height: 30px; vertical-align: middle">
                <label style="vertical-align: middle">
                    <label style="vertical-align: middle">
                        付款信息</label>
                </label>
            </div>        
            <table class="tbList" width="100%" style="border: solid 1px  #BDBDBD;">
                <tr>
                    <td>
                        第 @payment.PaymentType 次计划打款日
                    </td>
                    <td>@payment.PaymentDeadline.Value.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        计划打款比例：
                    </td>
                    <td>@(payment.PaymentProportion * 100 + "%")
                    </td>
                    <td>
                        计划打款额度：
                    </td>
                    <td>@string.Format("{0:N}", payment.PaymentPrice) 元
                    </td>
                </tr>
                <tr>
                    <td>
                        第 @payment.PaymentType 次实际打款日
                    </td>
                    <td>@payment.ActualPaymentDeadline.Value.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        实际打款比例：
                    </td>
                    <td>@(payment.ActualPaymentProportion * 100 + "%")
                    </td>
                    <td>
                        实际打款额度：
                    </td>
                    <td>@string.Format("{0:N}", payment.ActualPaymentPrice) 元
                    </td>
                </tr>
                @if (i == count - 1)
                {
                    <tr>
                        <td rowspan="2">
                            最终打款金额：
                        </td>
                        <td>
                            后台最终打款金额：
                        </td>
                        <td colspan="4">@string.Format("{0:N}", totalPayment) 元
                        </td>
                    </tr>
                    <tr>
                        <td>
                            实际最终打款金额：
                        </td>
                        <td colspan="4">@string.Format("{0:N}", actualTotalPayment) 元
                        </td>
                    </tr>
                }
            </table>
       }
   }
           
            <div style="background-color: #DFF4F5; height: 30px; vertical-align: middle">
                <label style="vertical-align: middle">
                    <label style="vertical-align: middle">
                        付款</label>
                </label>
            </div> 
            <table class="tbList" width="100%" style="border: solid 1px  #BDBDBD;">
                <tr>
                    <td>
                        付款状态：
                    </td>
                    <td colspan="3">
                        <input name="paymentStatus" type="radio" value="1" />已付 &nbsp;&nbsp;&nbsp;
                        <input name="paymentStatus" type="radio" value="0" checked="checked" />未付
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        上传付款凭证：
                    </td>
                    <td colspan="3">
                         @{
            ViewDataDictionary CertificateImgDic= new ViewDataDictionary();
            CertificateImgDic["Name"] = "CertificateImg";
            CertificateImgDic["Folder"] = "/UploadFile/FinacialImage";
                }
            @Html.Partial("UploadCtrl", "", CertificateImgDic)
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        备注：
                    </td>
                    <td colspan="3">@Html.TextArea("Comment", new { rows = "5", cols = "70" })
                        <br />
                        <p style="color: Red">
                            * 备注不能为空，请填写审批备注</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px">
                        付款人：
                    </td>
                    <td style="width: 150px">@Model.Payer
                    </td>
                    <td>
                        付款日期：
                    </td>
                    <td>@Html.TextBox("PaymentDate", DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")) 默认为当天
                    </td>
                </tr>
            </table>
        }
        <p style="text-align: center">
            <input type="submit" value="保存并发Email" class="button" onclick="return ValidateInput();" />
            <input type="button" value="取消" class="button" onclick="javascript:window.history.go(-1);" />
        </p>
    </fieldset>   
}
