@model DSHOrder.Web.Models.GroupByFlowInfo
@using DSHOrder.Entity;
@using DSHOrder.Service.Interface;
@using DSHOrder.Service;
@using DSHOrder.Web.Common.Application.GroupByGroup;
@{
    ViewBag.Title = "团购申请";

    GBGFlowNodeInfo ni = TempData["ni"] as GBGFlowNodeInfo;
    GBGField fh = new GBGField(ni.Permission, this.Html);

    ViewData["fh"] = fh;
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Application.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
@*script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.uploadify.v2.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#tabs").tabs();
        $("TextArea").width("98%");
        $("TextArea").height("98%");

    });

    function checkImport(objId) {
        if ($.trim($('#' + objId + 'Queue').html()) == "") {
            alert('请先选择要导入的文件！');
            return false;
        }
        return true;
    }

</script>
@{
    ViewContext.ClientValidationEnabled = true;
}
@*@(ViewContext.ClientValidationEnabled = false)
*@
@using (Html.BeginForm())
{
     
    <table width="100%">
        <tr>
            <td>
                @Html.ValidationSummary(true)
                @Html.Partial("ControlsCommon/_ImageViewer")
            </td>
        </tr>
        <tr>
            <td>
                <fieldset>
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">基本信息</a></li>
                            <li><a href="#tabs-2">平台信息 @*@Html.ValidationMessageFor(m => m.GroupByItemIds)*@</a></li>
                            <li><a href="#tabs-3">审批历史</a></li>
                            <li><a href="#tabs-4">所有审批</a></li>
                        </ul>
                        <div id="tabs-1">
                            @Html.Partial("ControlsForForm/_FormBaseInfo", Model)
                        </div>
                        <div id="tabs-2">
                            @Html.Partial("ControlsForForm/_FormPortalInfo", Model)
                        </div>
                        <div id="tabs-3">
                            @Html.Partial("ControlsForForm/_ApproveHistry", Model)
                        </div>
                        <div id="tabs-4">
                            @Html.Partial("ControlsForForm/_AllApproveRecord", Model)
                        </div>
                    </div>
                </fieldset>
            </td>
        </tr>
        <tr>
            @if (fh.CalcNode() == GBGFlowEnumPermission.CanWrite)
            { 
                <td align="center">
                    @Html.Partial("ControlsForForm/ControlsForApprove/_FLowActionButton", Model)
                </td>
            }
        </tr>
    </table>

}
