@model DSHOrder.Web.Models.ShelfModel
@using DSHOrder.Entity
@{
    ViewBag.Title = "下线处理";
}
 <script language="javascript" type="text/javascript" src="@Url.Content("~/My97DatePicker/WdatePicker.js")"></script>
 <script type="text/javascript" src="@Url.Content("~/Scripts/autoNumeric.js")"></script>
 <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $(":input[id^='PaymentDate']").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd' });
        });
        $(":text[id^='PaymentPercent']").autoNumeric({ aSign: ' %', pSign: 's', vMax: '100.00' });
        $(":text[id^='PaymentPrice']").autoNumeric({ aSep: '', pSign: 's' });
        

        $(":checkbox[id^='cbxFinal']").click(function () {
            if ($(this).prop("checked")) {
                var thisId = $(this).attr("id");
                $(":checkbox[id^='cbxFinal'][id!='" + thisId + "']").prop("checked", false);
            }
        })
    });

    function AddPayment(seq) {
        var trIdShow = "trPayment " + (seq+1).toString();
        document.getElementById(trIdShow).style.display = "block";

        if (seq > 1) {
            var trIdDel = "imgDel " + seq.toString();
            var trIdAdd = "imgAdd " + seq.toString();
            if (document.getElementById(trIdDel) != undefined) {
                document.getElementById(trIdDel).style.display = "none";
            }
            if (document.getElementById(trIdAdd) != undefined) {
                document.getElementById(trIdAdd).style.display = "none";
            }
        }
        else {
            var trIdAdd = "imgAdd " + seq.toString();
            if (document.getElementById(trIdAdd) != undefined) {
                document.getElementById(trIdAdd).style.display = "none";
            }
        }

    }
    function DelPayment(seq) {
        var trId = "trPayment " + seq.toString();
        document.getElementById(trId).style.display = "none";

        if (seq > 2) {
            var trIdDel = "imgDel " + (seq - 1).toString();
            var trIdAdd = "imgAdd " + (seq - 1).toString();
            if (document.getElementById(trIdDel) != undefined) {
                document.getElementById(trIdDel).style.display = "block";
            }
            if (document.getElementById(trIdAdd) != undefined) {
                document.getElementById(trIdAdd).style.display = "block";
            }
        }
        else {
            var trIdAdd = "imgAdd " + (seq - 1).toString();
            if (document.getElementById(trIdAdd) != undefined) {
                document.getElementById(trIdAdd).style.display = "block";
            }
        }

        $("#PaymentDate" + seq.toString()).val("");
        $("#PaymentPercent" + seq.toString()).val("");
        $("#cbxFinal" + seq.toString()).prop("checked", false);
    }


    function ValidateInput() {
        var flag = false;
        var i = 10;
        for (; i >= 1; i--) {
            if (document.getElementById("PaymentDate" + i).value != "" && !flag) {
                flag = true;
            }
            if (document.getElementById("PaymentDate" + i).value == "" && flag) {
                break;
            }
        }
        if (i >= 1) {
            alert("请按序列输入打款日期，不允许中间存在未输入的打款日期!");
            return false;
        }

        if ($(":checkbox[id$='cbxShelf']").prop("checked") == true) {
            if ($(":text[id$='LogisticCharge']").val() == "") {
                alert("确认下线时，物流费用不能为空");
                return false;
            }
            if ($(":text[id$='OtherCharge']").val() == "") {
                alert("确认下线时，其他费用不能为空");
                return false;
            }
            if ($(":text[id$='ActualOnlineRefundNum']").val() == "") {
                alert("确认下线时，线上实际退款数量不能为空");
                return false;
            }
            if ($(":text[id$='ActualOfflineRefundNum']").val() == "") {
                alert("确认下线时，线下实际退款数量不能为空");
                return false;
            }
            if ($(":text[id$='ActualSellNum']").val() == "") {
                alert("确认下线时，实际销售数量不能为空");
                return false;
            }
            if ($(":text[id$='ActualRefundPrice']").val() == "") {
                alert("确认下线时，实际退款额不能为空");
                return false;
            }
            if ($(":text[id$='ActualTotalProfit']").val() == "") {
                alert("确认下线时，实际利润不能为空");
                return false;
            }
            if ($(":text[id$='ActualTotalPayment']").val() == "") {
                alert("确认下线时，实际总付款金额不能为空");
                return false;
            }
            if ($("#PaymentDate1").val() == "") {
                alert("确认下线时，第一次付款日期不能为空");
                return false;
            }
            if ($("#PaymentPercent1").val() == "") {
                alert("确认下线时，第一次付款比例不能为空");
                return false;
            }
            if ($("#PaymentPrice1").val() == "") {
                alert("确认下线时，第一次付款额度不能为空");
                return false;
            }
        }
        return true;
    }

</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.GroupByItemID)
<fieldset>
     @Html.Partial("_GroupBaseInfoForPayment", Model.GroupBaseInfo)
     @Html.EditorFor(model => model.GroupItemInfo)

       <div style=" background-color:#DFF4F5; height:30px; vertical-align:middle"><label id="lblPlatForm" style="vertical-align:middle">
    <label  style="vertical-align:middle">计划打款</label>
    </label></div>
      <table  class="tbList" style="border: solid 1px  #BDBDBD;">
     @*  <tr><td colspan="6">计划打款</td></tr>*@
     @{
IList<Payment> paymentList = Model.PaymentList;
int i = 1;
int count=paymentList.Count;

for (; i <= 10; i++)
{
    string isDisplay = "none";
    DateTime? paymentDate = null;
    decimal? paymentPercent = null;
    decimal? paymentPrice=null;
    bool isFinal=false;
    bool disabled = false;
    if (i == 1)
    {
        isDisplay = "block";
    }
    if (count>=i)
    {
        paymentDate = paymentList[i-1].PaymentDeadline;
        paymentPercent = paymentList[i - 1].PaymentProportion;
        isFinal = paymentList[i-1].IsLastPayment.HasValue ? paymentList[i - 1].IsLastPayment.Value : false;
        paymentPrice=paymentList[i-1].PaymentPrice;
        isDisplay = "block";
        if (paymentList[i - 1].ApprovalStatus.HasValue && paymentList[i - 1].ApprovalStatus != (int)DSHOrder.Common.Utils.ApprovalPaymentStatus.Disagree)
        {
            disabled = true;
        }
    }
        <tr id="trPayment @i" style="display:@isDisplay; "  >
            <td>第 @i 次计划打款日期</td>
            <td>
            @if (disabled)
            {
                @Html.TextBox("PaymentDate" + i, paymentDate.HasValue ? paymentDate.Value.ToString("yyyy-MM-dd") : "", new { disabled = "disabled" })
            }
            else
            {
                 @Html.TextBox("PaymentDate" + i, paymentDate.HasValue ? paymentDate.Value.ToString("yyyy-MM-dd") : "")
            }
                
            </td>
            <td>打款比例</td>
            <td>
            @if (disabled)
            {
                @Html.TextBox("PaymentPercent" + i, paymentPercent.HasValue ? (paymentPercent.Value * 100).ToString() + "%" : "", new { disabled = "disabled" })
            }
            else
            {                
                @Html.TextBox("PaymentPercent" + i, paymentPercent.HasValue ? (paymentPercent.Value * 100).ToString() + "%" : "")
            }
                </td>
            <td>打款额度</td>
            <td>
              @if (disabled)
              {
                   @Html.TextBox("PaymentPrice" + i, paymentPrice, new { disabled = "disabled" }) 
              }
              else
              {
                @Html.TextBox("PaymentPrice" + i, paymentPrice) 
              } 元
          </td>
             <td>
                @if (disabled)
                {
             @Html.CheckBox("cbxFinal" + i, isFinal, new { disabled = disabled })
                }
                else
                {
                    @Html.CheckBox("cbxFinal" + i, isFinal)
                }尾款</td>
             <td>
             @if (i != 10)
             {
                 if (i < count && !(isFinal && disabled))   
                 {
                     <img id="imgAdd @i" alt="+" style="display:none" src="../../Content/Images/icon_expand.gif" onclick="AddPayment(@i);" />
                 }
                 else if (i >= count && !(isFinal && disabled))
                 {
                    <img id="imgAdd @i" alt="+" src="../../Content/Images/icon_expand.gif" onclick="AddPayment(@i);" />
                 }
             }
             </td>
             <td>
                @if (i != 1)
                {
                    if (i < count && !disabled)
                    {
                        <img id="imgDel @i"  alt="-" style="display:none" src="../../Content/Images/icon_collapse.gif" onclick="DelPayment(@i);"/>
                    }
                    else if (i >= count && !disabled)
                    {
                     <img id="imgDel @i"  alt="-" src="../../Content/Images/icon_collapse.gif" onclick="DelPayment(@i);"/>
                    }
                }
              </td>
        </tr>
         
}         
}
</table>
</fieldset>
<p style="text-align:center">
   <input type="submit" id="btnSave" value="保存" class="button" onclick="return ValidateInput();"/>
   <input type="button" id="btnBack" value="返回" class="button" onclick="javascript:window.history.go(-1);" />
</p>
}

