@model DSHOrder.Web.Models.GroupByFlowInfo
@using DSHOrder.Web.Common.Application.GroupByGroup;
@{
    GBGField fh = ViewData["fh"] as GBGField;
}
<table id="GeneralTable">
    <tr>
        <td class="title" colspan="2">
            <b>风控部二审</b>
        </td>
    </tr>
    <tr>
        <td class="title">
            请选择
        </td>
        <td>
            @if (Model.CurrentNode == GBGFlowEnumFLowNode.FKBES)
            {
                <span>
                    @Html.CheckBoxFor(m => m.PZYRZ) 牌照已认证
                    @Html.ValidationMessageFor(m => m.PZYRZ)
                    @Html.CheckBoxFor(m => m.LSTGYJY) 历史团购已检验
                    @Html.ValidationMessageFor(m => m.LSTGYJY)
                </span>
            }
            else
            { 
                <span>牌照已认证 &nbsp;&nbsp;历史团购已检验 </span>
            }
        </td>
    </tr>
    <tr>
        <td class="title" width="180">
            备注
        </td>
        <td style="height: 100px" align="left" valign="top">
            @fh.ShowField(m => m.GroupByGroup.ApproveFKRBMemo, GBGFlowEnumEditType.TextArea)
            @Html.ValidationMessageFor(m => m.GroupByGroup.ApproveFKRBMemo)
        </td>
    </tr>
    <tr>
        <td class="title">
            审批时间
        </td>
        <td>
            @fh.ShowField(m => m.GroupByGroup.ApproveFKRBActionTime)
        </td>
    </tr>
</table>
